.mainport {
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.wave {
    transform: scale(0);
    transform-origin: center;
}

.about {
    display: block;
}

.newabout {
    display: none;
}

.newwave {
    transform: scale(1);
}

.portNav {
    display: flex;
    max-width: 1187px;
    justify-content: space-between;
    width: 100%;
    background-color: var(--main);
    box-shadow: var(--shadow);
    padding: 2.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 30px;
    align-items: center;
    transform-origin: center;
    transform: scale(1);
}

.portNav:hover {
    transform: scale(1.01);
}

.portNavTitle {
    font-weight: 900;
    font-size: 26px;
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.portNavTitle svg {
    width: 36px;
    height: 36px;
    margin-right: 3%;
}

.otherPortLink {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.otherPortLink li {
    margin-left: 5%;
    padding: 2%;
    border-radius: 20px;
    transition: 500ms;
    transform: scale(1);
    transform-origin: center;
}

.otherPortLink li:hover {
    background-color: var(--subcolour);
    animation: lianime 500ms forwards ease-in-out;
}

@keyframes lianime {
    0% {
        transform: rotate(2deg) scale(1.05);
    }

    25% {
        transform: rotate(0) scale(1.05);
    }

    50% {
        transform: rotate(-2deg) scale(1.05);
    }

    100% {
        transform: rotate(0) scale(1.04);
    }
}

.otherPortLink li a {
    font-size: 17px;
    font-weight: 500;
}

.otherPortLink li a svg {
    margin-left: 15px;
}

.mainPortArea {
    max-width: 1187px;
    width: 100%;
}

.lenghtofpost {
    margin: 5% 0 3% 0;
}

.mainPortArea .postArea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.mainPortArea .portfiliocard {
    width: 48.5%;
    /* height: 350px; */
    flex-grow: inherit;
    background-color: var(--main);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    padding-bottom: 3.5%;
    margin-bottom: 3%;
}

.mainPortArea .portfiliocard:nth-child(odd) {
    margin-right: 3%;
}

.mainPortArea .portfiliocard img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.mainPortArea .portfiliocard .namePost {
    height: 20%;
    padding-top: 3.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainPortArea .portfiliocard .namePost h2 {
    font-weight: 700;
    font-size: 18px;
}

.postlink {
    font-size: 14px;
    background-color: var(--foreground);
    color: var(--main);
    font-weight: 500;
    padding: 12px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
}

.main_container {
    margin-bottom: 25px;
}