.mainport {
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.wave {
    transform: scale(0);
    transform-origin: center;
}

.about {
    display: block;
}

.newabout {
    display: none;
}

.newwave {
    transform: scale(1);
}

.portNav {
    display: flex;
    max-width: 1187px;
    justify-content: space-between;
    width: 100%;
    padding: 2.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 30px;
    align-items: center;
    transform-origin: center;
    transform: scale(1);
}

body .portNav {
    background-color: var(--main);
    box-shadow: var(--shadow);
}

.light .portNav {
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(151, 151, 151, 0.329);
}

.dark .portNav {
    background-color: #161616;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.329);
}

.portNav:hover {
    transform: scale(1.01);
}

.portNavTitle {
    font-weight: 900;
    font-size: 26px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.portNavTitle svg {
    width: 36px;
    height: 36px;
    margin-right: 3%;
}

.otherPortLink {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.otherPortLink li {
    margin-left: 5%;
    padding: 2%;
    border-radius: 20px;
    transition: 500ms;
    transform: scale(1);
    transform-origin: center;
}

.otherPortLink li:hover {
    animation: lianime 500ms forwards ease-in-out;
}

body .postinglinnk {
    background-color: var(--subcolour);
}

.light .postinglinnk {
    background-color: #CCD2E3;
}

.dark .postinglinnk {
    background-color: var(--subcolour);
}

body .otherPortLink li:hover {
    background-color: #2D313D;
}

.light .otherPortLink li:hover {
    background-color: #CCD2E3;
}

.dark .otherPortLink li:hover {
    background-color: #2D313D;
}

@keyframes lianime {
    0% {
        transform: rotate(2deg) scale(1.05);
    }

    25% {
        transform: rotate(0) scale(1.05);
    }

    50% {
        transform: rotate(-2deg) scale(1.05);
    }

    100% {
        transform: rotate(0) scale(1.04);
    }
}

.otherPortLink li a {
    font-size: 17px;
    font-weight: 500;
}

.otherPortLink li a svg {
    margin-left: 15px;
}

.mainPortArea {
    max-width: 1187px;
    width: 100%;
}

.backarea {
    margin-top: 5%;
    font-size: 19px;
    display: flex;
    align-items: center;
}

body .backarea a {
    font-weight: 500;
    color: var(--subhover);
}

.light .backarea a {
    color: #2D313D;
}

.dark .backarea a {
    color: #b8c5e9;
}

.lenghtofpost {
    margin: 2.5% 0 3% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lenghtofpost .bigtext {
    font-size: 1.1em;
}

body .nfr {
    fill: var(--main);
}

.light .nfr {
    fill: #ffffff;
}

.dark .nfr {
    fill: #161616;
}

body .uidesignti {
    stroke: var(--main);
    fill: var(--main);
    margin-left: 12px;
}

.light .uidesignti {
    stroke: #ffffff;
    fill: #ffffff;
    margin-left: 12px;
}

.dark .uidesignti {
    stroke-width: #161616;
    fill: #161616;
    margin-left: 12px;
}

.portback {
    margin-left: 1.5%;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.mainPortArea .postArea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.mainPortArea .portfiliocard {
    width: 48.5%;
    flex-grow: inherit;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    padding-bottom: 3.5%;
    margin-bottom: 3%;
    transform-origin: center;
    transform: scale(1);
}

body .mainPortArea .portfiliocard {
    background-color: var(--main);
    box-shadow: var(--shadow);
}

.light .mainPortArea .portfiliocard {
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(151, 151, 151, 0.329);
}

.dark .mainPortArea .portfiliocard {
    background-color: #161616;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.329);
}

.mainPortArea .listArea {
    width: 100%;
}

.mainPortArea .listpost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
    padding: 2%;
    border-radius: 30px;
}

body .mainPortArea .listpost {
    background-color: var(--main);
}

.light .mainPortArea .listpost {
    background-color: #ffffff;
}

.dark .mainPortArea .listpost {
    background-color: #161616;
}

.portfiliocard:hover {
    transform: scale(1.07);
}

.listpost:hover {
    transform: scale(1.07);
}

.mainPortArea .portfiliocard:nth-child(odd) {
    margin-right: 3%;
}

.mainPortArea .portfiliocard img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: var(--img);
}

.dark .mainPortArea .portfiliocard img {
    background-color: #000000;
}

.ligth .mainPortArea .portfiliocard img {
    background-color: #313131;
}

.mainPortArea .portfiliocard .postInfo p {
    display: none;
}

.mainPortArea .listpost .postInfo {
    width: 50%;
}

.mainPortArea .listpost .postInfo p {
    margin-top: 10%;
}

.mainPortArea .listpost img {
    width: 40%;
    height: auto;
    border-radius: 15px;
    background-color: var(--img);
}

.dark .mainPortArea .listpost img {
    background-color: #000000;
}

.ligth .mainPortArea .listpost img {
    background-color: #313131;
}

.portfiliocard:hover img {
    animation: lianime 500ms forwards ease-in-out;
}

.listpost:hover img {
    animation: lianime 500ms forwards ease-in-out;
}

.mainPortArea .portfiliocard .namePost {
    height: 20%;
    padding-top: 3.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainPortArea .listpost .namePost {
    padding-top: 3.5%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainPortArea .portfiliocard .namePost h2 {
    font-weight: 700;
    font-size: 18px;
}

.mainPortArea .listpost .namePost h2 {
    font-weight: 700;
    font-size: 18px;
}

.postlink {
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    transform: scale(1);
    transform-origin: center;
}

body .postlink {
    background-color: var(--foreground);
    color: var(--main);
}

.light .postlink {
    background-color: #171717;
    color: #ffffff;
}

.dark .postlink {
    background-color: #F5F5F5;
    color: #161616;
}

.postlink:hover {
    transform: scale(1.07);
}

.main_container {
    margin-bottom: 25px;
}

.sort {
    display: flex;
}

.sort .sortbtn1 {
    padding: 10px;
    border-radius: 5px;
}

body .sort .sortbtn1 {
    background-color: var(--subcolour);
}

.light .sort .sortbtn1 {
    background-color: #CCD2E3;
}

.dark .sort .sortbtn1 {
    background-color: #2D313D;
}

.sort .sortbtn2 {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

body .sort .sortbtn2 {
    background-color: var(--subcolour);
}

.light .sort .sortbtn2 {
    background-color: #CCD2E3;
}

.dark .sort .sortbtn2 {
    background-color: #2D313D;
}

.bgn {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: not-allowed;
}

body .bgn {
    background-color: var(--subclick);
}

.dark .bgn {
    background-color: #1f2638;
}

.light .bgn {
    background-color: #919dc2;
}

.error {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.error h2 {
    width: 50%;
    margin: 5%;
    text-align: center;
}

.error svg {
    margin-top: 5%;
}

.loadingPage {
    display: flex;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingPage svg {
    animation: svgrotate 5s infinite ease-in-out;
    transform-origin: center;
    margin: 5%;
}

.menus {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 22px;
    display: none;
}

.menus div {
    width: 100%;
    height: 2px;
    border-radius: 30px;
    display: none;
}

body .menus div {
    background-color: var(--foreground);
}

.light .menus div {
    background-color: #171717;
}

.dark .menus div {
    background-color: #F5F5F5;
}

.menus:hover {
    align-items: center;
    justify-content: center;
    transition: 1s;
    position: relative;
}

.menus:hover div:nth-child(1) {
    transform-origin: center;
    transform: rotate(45deg);
    width: 28.28px;
    transition: 1s;
    position: absolute;
    top: 50%;
}

.menus:hover div:nth-child(3) {
    transform-origin: center;
    transform: rotate(-45deg);
    width: 28.28px;
    transition: 1s;
    bottom: 50%;
}

.menus:hover div:nth-child(2) {
    width: 0;
    transition: 1s;
}

@keyframes svgrotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(60deg);
    }

    60% {
        transform: rotate(90deg);
    }

    70% {
        transform: rotate(120deg);
    }

    80% {
        transform: rotate(180deg);
    }

    90% {
        transform: rotate(260deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.newPortlink {
    padding: 3.5% 0 3.5% 0;
}

.newPortlink li {
    margin-bottom: 3.5%;
    padding: 3% 0 3% 0;
}

.newPortlink li a {
    padding: 3% 6% 3% 6%;
    border-radius: 5px;
    display: inline;
    font-weight: 500;
}

.newmenu2 {
    align-items: center;
    justify-content: center;
    transition: 1s;
    position: relative;
}

.newmenu2 div {
    height: 3px;
}

.newmenu2 div:nth-child(1) {
    transform-origin: center;
    transform: rotate(45deg);
    width: 28.28px;
    transition: 1s;
    position: absolute;
    top: 50%;
}

.newmenu2 div:nth-child(3) {
    transform-origin: center;
    transform: rotate(-45deg);
    width: 28.28px;
    transition: 1s;
    bottom: 50%;
}

.newmenu2 div:nth-child(2) {
    width: 0;
    transition: 1s;
}

@media (max-width:1187px) {
    .portNav {
        max-width: 700px;
        padding: 2.5%;
        display: block;
    }


    .portNavTitle {
        margin-bottom: 3%;
    }

    .otherPortLink li a p {
        font-size: 13px;
    }

    .otherPortLink {
        width: 100%;
    }

    .otherPortLink li {
        margin-left: 0;
        margin-right: 0;
    }

    .mainPortArea {
        max-width: 700px;
    }

    .mainPortArea .portfiliocard {
        padding: 3%;
        padding-bottom: 4.5%;
    }

    .mainPortArea .portfiliocard .namePost {
        padding-top: 15%;
    }

    .mainPortArea .listpost img {
        width: 30%;
    }

    .mainPortArea .listpost .namePost {
        padding-top: 1%;
        padding-left: 10%;
        width: 70%;
    }

    .mainPortArea .listpost .postInfo p {
        margin-top: 3%;
    }

    .mainPortArea .listpost {
        border-radius: 0px;
        padding-bottom: 5%;
    }

    body .mainPortArea .listpost {
        background: none;
        border-bottom: 1px solid var(--foreground);
    }

    .light .mainPortArea .listpost {
        background: none;
        border-bottom: 1px solid #000000;
    }

    .dark .mainPortArea .listpost {
        background: none;
        border-bottom: 1px solid #ffffff;
    }
}

@media (max-width:700px) {
    .otherPortLink {
        display: none;
    }

    .menus {
        display: inline;
        display: flex;
    }

    /* 
    .newmenu {
        display: inline;
        display: flex;
    } */

    .menus div {
        display: block;
    }

    .portNav {
        max-width: 380px;
        padding: 5%;
        border-radius: 15px;
        transition: 500ms;
    }

    .portNavTitle {
        margin-bottom: 0%;
    }

    .mainPortArea {
        max-width: 380px;
    }

    .lenghtofpost {
        margin: 2.5% 0 5% 0;
        display: block;
    }

    .lenghtofpost p {
        margin-bottom: 5%;
        font-size: 13px;
        width: 80%;
    }

    .bgn:nth-child(1) {
        padding: 10px;
        margin-left: 0px;
    }

    .mainPortArea .portfiliocard:nth-child(odd) {
        margin-right: 0%;
        margin-bottom: 7%;
    }

    .mainPortArea .portfiliocard {
        width: 100%;
        border-radius: 15px;
        padding: 5%;
    }

    .mainPortArea .portfiliocard img {
        border-radius: 7.5px;
    }

    .mainPortArea .listpost .postInfo p {
        font-size: 10px;
        font-weight: 300;
    }

    .mainPortArea .listpost .namePost h2 {
        font-weight: 500;
        font-size: 12px;
    }

    .mainPortArea .listpost .postlink {
        font-size: 12px;
        padding: 3%;
        padding-right: 5%;
        padding-left: 5%;
        border-radius: 7.5px;
        transform: scale(1);
        transform-origin: center;
        width: 40%;
    }

    .mainPortArea .listpost img {
        border-radius: 5px;
    }

    .mainPortArea .listpost .postInfo {
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .newDiv {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .portNavTitle h2 {
        margin-bottom: 0;
    }
}

@media (max-width:400px) {
    .portNav {
        margin: 0 2% 0 2%;
        width: 90%;
    }

    .mainPortArea {
        width: 90%;
    }

    .portback {
        font-size: 10px;
    }

    .portback a {
        font-size: 10px;
    }
}