.softwaredev {
    width: 100%;
    max-width: 1187px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.softwareMain {
    width: 100%;
}

.titleLink {
    width: 100%;
    margin: 3% 0 3% 0;
}

.softwareTitle {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1187px;
}

.softwareTitle h1 {
    font-weight: 900;
    font-size: 25px;
}

.softwareTitle svg {
    margin-right: 20px;
    width: 34px;
    height: 34px;
}

.listPath {
    display: flex;
    align-items: center;
    margin: 3% 0 3% 0;
}

.listPath img {
    margin-right: 2%;

}

.linkInSoftware {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}

body .linkInSoftware a {
    color: var(--subhover);
}

.light .linkInSoftware a {
    color: #2D313D;
}

.dark .linkInSoftware a {
    color: #CCD2E3;
}

.linkInSoftware span {
    font-size: 25px;
}

body .linkInSoftware .Mainpage {
    color: var(--foregound);
    font-weight: 800;
    cursor: not-allowed;
}

.light .linkInSoftware .Mainpage {
    color: #000000;
}

.dark .linkInSoftware .Mainpage {
    color: #ffffff;
}

body .softwareNameDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 5% 3% 5%;
    background-color: var(--main);
    box-shadow: var(--shadow);
    margin-top: 3%;
    border-radius: 30px;
}

.dark .softwareNameDate {
    background-color: #161616;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.178);
}

.light .softwareNameDate {
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(151, 151, 151, 0.329);
}

.softwareImage img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    background-color: var(--main);
    border: 5% solid var(--main);
    box-shadow: var(--shadow);
    padding: 5%;
}

.softwareName {
    font-weight: 900;
    font-size: 25px;
}

.softwareDate {
    display: flex;
    align-items: center;
}

.softwareDate svg {
    margin-right: 12px;
}

.softwareDate b {
    font-size: 18px;
}

.softwareDate span {
    font-size: 24px;
    font-weight: 500;
}

.softwareDate p {
    display: flex;
    align-items: center;
}

.softwareAboutTools {
    margin: 3% 0 3% 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    /* align-items: ; */
}


body .softwareAbout {
    width: 67%;
    padding: 5%;
    background-color: var(--main);
    border-radius: 30px;
    box-shadow: var(--shadow);
}

.light .softwareAbout {
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(151, 151, 151, 0.329);
}

.dark .softwareAbout {
    background-color: #161616;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.178);
}

.softwareAbout .asTitle {
    margin-bottom: 3%;
    font-weight: 800;
    font-size: 20px;
}

.softwareAbout .moreAbtPro {
    width: 70%;
    margin-bottom: 3%;
}

body .web {
    stroke: var(--background);
    fill: none;
}

.dark .web {
    stroke: #222222;
}

.light .web {
    stroke: #ffffff;
}

.softwareAbout .moreAbtLinksoftware {
    width: 100%;
    margin-top: 7%;
}

body .softwareAbout .moreAbtLinksoftware a {
    background-color: var(--foreground);
    color: var(--background);
    border-radius: 10px;
    padding: 2% 5% 2% 5%;
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 15px;
}

.light .softwareAbout .moreAbtLinksoftware a {
    background-color: #000000;
    color: #ffffff;
}

.dark .softwareAbout .moreAbtLinksoftware a {
    background-color: #ffffff;
    color: #000000;
}

body .writesoftware a {
    font-size: 14px;
    font-weight: 600;
    color: var(--subhover);
}

.light .writesoftware a {
    color: #2D313D;
}

.dark .writesoftware a {
    color: #CCD2E3;
}

body .softwaretools {
    background-color: var(--subcolour);
    padding: 5% 3%;
    width: 30%;
    height: max-content;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    border-radius: 30px;
}

.light .softwaretools {
    background-color: #CCD2E3;
}

.dark .softwaretools {
    background-color: #2D313D;
}

.softwaretools h1 {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 3%;

}

.softwaretools p {
    font-weight: 500;
    font-size: 18px;
    /* margin-left: 4%; */
}

.softwaretools .toolsList {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

body .toolSvg {
    fill: var(--foreground);
    stroke: var(--foreground);
    margin-left: 7%;
}

.light .toolSvg {
    fill: #161616;
    stroke: #161616;
}

.dark .toolSvg {
    fill: #ffffff;
    stroke: #ffffff;
}

body .softwareDate .uidesign {
    fill: none;
    stroke: var(--foreground);
}

.dark .softwareDate .uidesign {
    stroke: #ffffff;
    fill: none;
}

.light .softwareDate .uidesign {
    stroke: #000;
    fill: none;
}

@media (max-width: 1187px) {
    .softwaredev {
        max-width: 700px;
    }

    .softwareAbout .moreAbtPro {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .softwaredev {
        max-width: 400px;
    }

    .softwareImage img {
        border-radius: 15px;
    }

    body .softwareNameDate {
        padding: 5% 10% 5% 10%;
        margin-top: 6%;
        flex-direction: column;
        align-items: self-start;
        border-radius: 15px;
    }

    .softwareName {
        margin-bottom: 5%;
    }

    .softwareAboutTools {
        margin: 6% 0 6% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    body .softwareAbout {
        width: 100%;
        padding: 10%;
        border-radius: 15px;
    }

    body .softwareAbout .moreAbtLinksoftware a {
        border-radius: 5px;
        padding: 4% 10% 4% 10%;
    }

    body .softwaretools {
        padding: 10% 10%;
        width: 100%;
        text-align: left;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        margin-top: 6%;
        border-radius: 15px;
    }

    .softwaretools .toolsList {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: row-reverse;
    }

    body .toolSvg {
        margin-left: 0;
        margin-right: 7%;
    }

    .linkInSoftware a {
        font-size: 15px;
    }

    .linkInSoftware span {
        font-size: 15px;
    }
}

/* .ontopLoadingDiv {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    align-self: center;
    width: 100%;
    max-width: 3000px;
} */

body .loadingdiv {
    width: 100%;
    max-width: auto;
    display: flex;
    height: 20px;
    border-radius: 100px;
    background-color: var(--subcolour);
    box-shadow: var(--shadow);
    position: fixed;
    top: 2%;
    z-index: 10;
}

@media (max-width: 400px) {
    .softwaredev {
        width: 100%;
    }

    .softwareMain {
        width: 90%;
        margin-top: 5%;
    }
}