.aboutpage {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

.main_null {
    display: none;
}

.mainframe_1st {
    display: flex;
    max-width: 1187px;
    width: 100%;
    margin-top: 65px;
}

.about_1st {
    width: 70%;
    /* display: flex; */
    padding: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 30px;
    transform: scale(1);
    transform-origin: center;
}

body .about_1st {
    background-color: var(--main);
    box-shadow: var(--shadow);
}

.light .about_1st {
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(151, 151, 151, 0.329);
}

.dark .about_1st {
    background-color: #161616;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.329);
}

.about_1st:hover {
    animation: aboutanime 500ms forwards ease-in-out;
}

body .about_1st:hover .about a {
    transform: scale(1.01);
    transform-origin: center;
    box-shadow: var(--shadow);
}

.light .about_1st:hover .about a {
    transform: scale(1.01);
    transform-origin: center;
    box-shadow: 0 0 50px rgba(151, 151, 151, 0.329);
}

.dark .about_1st:hover .about a {
    transform: scale(1.01);
    transform-origin: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.329);
}

@keyframes aboutanime {
    0% {
        transform: rotate(3deg) scale(1.01);
    }

    25% {
        transform: rotate(0deg) scale(1.01);
    }

    50% {
        transform: rotate(-3deg) scale(1);
    }

    100% {
        transform: rotate(0deg) scale(1)
    }
}

.title_about1st {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.title_about1st h2 {
    font-weight: 800;
    font-size: 20px;
}

.title_about1st a {
    font-size: 17px;
    font-weight: 500;
    color: #979797;
}

.about1st_text {
    margin-top: 29px;
}

.about1st_text p {
    width: 60%;
}

.abouts_1st a {
    margin-top: 25px;
    font-size: .85em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 181px;
    height: 42px;
    border-radius: 10px;
    transform-origin: center;
    transform: scale(1);
    transition: 500ms;
}

body .abouts_1st a {
    background-color: var(--pdf);
    color: var(--black);
}

.light .abouts_1st a {
    background-color: #f5f5f5;
    color: black;
}

.dark .abouts_1st a {
    background-color: #1f1f1f;
    color: white;
}

.pic_1st {
    background-clip: border-box;
    width: 28%;
    margin-left: 2%;
    border-radius: 30px;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
    transform-origin: center;
}

body .pic_1st {
    box-shadow: var(--shadow);
}

.light .pic_1st {
    box-shadow: 0 0 50px rgba(151, 151, 151, 0.329);
}

.dark .pic_1st {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.329);
}

.pic_1st:hover {
    z-index: 2;
    transform: scale(1.3);
}

.pic_1st img {
    border-radius: 30px;
}

.slider {
    position: relative;
    display: flex;
    align-items: center;
    display: flex;
}



.control {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: 4%;
    bottom: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .control {
    background-color: var(--main);
    box-shadow: var(--shadow);
}

.light .control {
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(151, 151, 151, 0.329);
}

.dark .control {
    background-color: #161616;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.329);
}

.control2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    left: 4%;
    bottom: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .control2 {
    background-color: var(--main);
    box-shadow: var(--shadow);
}

.light .control2 {
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(151, 151, 151, 0.329);
}

.dark .control2 {
    background-color: #161616;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.329);
}

.mainframe_2nd {
    display: flex;
    margin-top: 1.5%;
    width: 100%;
    max-width: 1187px;
}

.graph_2nd {
    width: 50%;
    padding: 5%;
    padding-top: 6%;
    padding-bottom: 6%;
    border-radius: 30px;
}

body .graph_2nd {
    background-color: var(--main);
    box-shadow: var(--shadow);
}

.light .graph_2nd {
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(151, 151, 151, 0.329);
}

.dark .graph_2nd {
    background-color: #161616;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.329);
}

.graph_2nd:hover {
    animation: aboutanime 500ms forwards ease-in-out;
}

.graph_2nd_title {
    display: flex;
    align-items: center;
    width: 100%;
    /* padding-top: 10%;
    padding-bottom: 10%; */
}

.graph_2nd_title h3 {
    font-weight: 1000;
    margin-right: 10px;
    font-size: 20px;
    /* margin-top: 10%; */
}

.graph_2nd_title svg {
    width: 20px;
    height: 20px;
}

.graph_2nd .graph {
    padding: 10%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #0a0a0a;
    border-radius: 25px;
    margin-top: 10%;
    background-clip: border-box;
    height: 310px;
    width: 100%;
}

.mainGraph {
    width: 100%;
    height: 90%;
}

.tools_2nd {
    margin-left: 2%;
    width: 48%;
}

.tools_2nd .ListOfSkill {
    width: 100%;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    border-radius: 30px;
}

body .tools_2nd .ListOfSkill {
    background-color: var(--main);
    box-shadow: var(--shadow);
}

.light .tools_2nd .ListOfSkill {
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(151, 151, 151, 0.329);
}

.dark .tools_2nd .ListOfSkill {
    background-color: #161616;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.329);
}

.tools_2nd .ListOfSkill:hover {
    animation: aboutanime 500ms forwards ease-in-out;
}

.title_tools_2nd {
    display: flex;
    align-items: center;

}

.title_tools_2nd h3 {
    font-weight: 1000;
    margin-right: 10px;
    font-size: 20px;
}

.inside_skills {
    display: flex;
    align-items: center;
    width: 50%;
}

.inside_skills svg {
    width: 24px;
    margin-left: 2%;
}

.skillsInside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7%;
    padding-bottom: 7%;
}

body .skillsInside {
    border-bottom: var(--border) 1px solid;
}

.light .skillsInside {
    border-bottom: #E6E6E6 1px solid;
}

.dark .skillsInside {
    border-bottom: #3636369a 1px solid;
}

.skillsInside .tools_skills {
    display: flex;
    align-items: center;
    padding: 2%;
    border-radius: 20px;
}

body .skillsInside .tools_skills {
    background-color: var(--subcolour);
}

.light .skillsInside .tools_skills {
    background-color: #CCD2E3;
}

.dark .skillsInside .tools_skills {
    background-color: #2D313D;
}

.skillsInside .tools_skills img {
    width: 30px;
    height: 30px;

}

.skillsInside .tools_skills .key_skills {
    margin-left: 5px;
    margin-right: 5px;
}

body .skillsvg {
    stroke: var(--forforeground);
    stroke-width: 1px;
}

.light .skillsvg {
    stroke: #171717;
    stroke-width: 1px;
}

.dark .skillsvg {
    stroke: #F5F5F5;
    stroke-width: 1px;
}


.detailsAbout {
    width: 60%;
    max-width: 1187px;
    height: 70vh;
    position: fixed;
    border-radius: 30px;
    z-index: 5;
    top: 15%;
    left: 20%;
    transform-origin: center;
    transform: scale(1);
    scroll-behavior: smooth;
    padding: 3%;
}

.detailsAbout .cancelDetails {
    width: 30px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

body .detailsAbout .cancelDetails div {
    background-color: var(--foreground);
    width: 100%;
    height: 2px;
    border-radius: 50%;
    position: absolute;
}

.detailsAbout .cancelDetails div:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: center;
}

.detailsAbout .cancelDetails div:nth-child(2) {
    transform: rotate(-45deg);
    transform-origin: center;
}

body .detailsAbout {
    background-color: var(--background);
    box-shadow: var(--shadow);
}

.dark .detailsAbout {
    background-color: #222222;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.329);
}

.light .detailsAbout {
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(151, 151, 151, 0.329);
}

.removeDetailsAbout {
    transform: scale(0);
}

.googleMaps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    width: 100%;
    max-width: 1187px;
    padding: 25px;
    border-radius: 30px;
    transform-origin: center;
    transition: 500ms ease-in-out;
}

body .googleMaps {
    background-color: var(--subcolour);
    box-shadow: var(--shadow);
}

.light .googleMaps {
    background-color: #CCD2E3;
    box-shadow: 0 0 50px rgba(151, 151, 151, 0.329);
}

.dark .googleMaps {
    background-color: #2D313D;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.329);
}

.googleMaps:hover {
    transform: scale(0);
    animation: strake 1s forwards ease-in-out;
}

@keyframes strake {
    0% {
        transform: rotate(2deg) scale(1.1);
        background-color: var(--subhover);
        color: var(--subhover);
    }

    25% {
        transform: rotate(0) scale(1.1);
        background-color: var(--subhover);
        color: var(--subhover);
    }

    50% {
        transform: rotate(-2deg) scale(1.1);

    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

.googleMaps:hover svg {
    animation: strakes 1s forwards ease-in-out;
}

.googleMaps:hover .details h2 {
    animation: strakes 1s forwards ease-in-out;
}

@keyframes strakes {
    0% {
        fill: var(--background);
        color: var(--background);
    }

    25% {
        fill: var(--background);
        color: var(--background);
    }

    50% {
        fill: var(--subhover);
        color: var(--subhover);

    }

    100% {
        fill: var(--subhover);
        color: var(--subhover);
    }
}


.googleMaps .mapsMap .mainMap iframe {
    border-radius: 15px;
    width: 600px;
    height: 300px;
}


.googleMaps .details {
    margin-right: 10%;
}

.googleMaps .details h2 a {
    font-weight: 900;
    font-size: 22px;
}



@media (max-width: 1187px) {
    .mainframe_2nd {
        display: block;
        width: 100%;
        margin: auto;
        max-width: 700px;
    }

    /* .graph_2nd {
        width: 100%;
        height: 600px;
        
    } */

    .tools_2nd {
        width: 100%;
        margin-left: 0;
    }

    .mainframe_1st {
        display: block;
        align-items: center;
        margin: auto;
        max-width: 700px;
        margin-top: 50px;
    }

    .about_1st {
        width: 100%;
        margin-bottom: 25px;
        padding: 50px;
    }

    .pic_1st {
        display: none;
    }

    .graph_2nd {
        width: 100%;
        height: 50vh;
        margin-bottom: 25px;
    }

    .googleMaps {
        max-width: 700px;
        display: block;
        padding: 30px;
    }

    .googleMaps .mapsMap .mainMap iframe {
        width: 100%;
    }

    .googleMaps .details {
        margin-right: 0;
        margin-bottom: 3.5%;
        margin-top: 5%;
    }
}

@media (max-width:700px) {
    .mainframe_1st {
        display: block;
        align-items: center;
        margin: auto;
        max-width: 400px;
        margin-right: 2%;
        margin-left: 2%;
        margin-top: 50px;
    }

    .about1st_text p {
        width: 100%;
    }

    .mainframe_2nd {
        max-width: 400px;
    }

    .skillsInside {
        display: block;
    }

    .skillsInside .tools_skills {
        padding: 20px;
    }

    .inside_skills {
        width: 100%;
        margin-bottom: 5%;
    }


    .graph_2nd_title {
        margin-top: 5%;
    }

    .googleMaps {
        max-width: 400px;
    }
}

@media (max-width: 400px) {
    .about_1st {
        /* box-shadow: none; */
        /* border-radius: 0; */
        width: 90%;
    }

    .mainframe_1st {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .graph_2nd {
        /* background: none; */
        width: 90%;
        padding-bottom: 5%;
        /* box-shadow: none; */

    }

    .mainGraph {
        height: 80%;
        margin-bottom: 5%;
    }

    .mainframe_2nd {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tools_2nd {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tools_2nd .ListOfSkill {
        /* background: none; */
        /* box-shadow: none; */
        width: 90%;
    }

    .googleMaps {
        width: 90%;
    }
}