@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient: linear-gradient(#F5F5F5, #F5F5F5, #8F8F8F);
  --main: #ffffff;
  --shadow: 0 0 50px rgba(151, 151, 151, 0.329);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #F5F5F5;
    --gradient: linear-gradient(#222222, #222222, #000000);
    --main: #161616;
    --shadow: 0 0 50px rgba(0, 0, 0, 0.329);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: var(--gradient);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  /* position: relative; */

}

@media (height>=800px) {
  body {
    height: 100vh;
  }
}

@media (min-width<=1187px) or (orientation: portrait) {
  body {
    background-image: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}