@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cursor {
    height: 40px;
    width: 40px;
    background-color: var(--foreground);
    border: 1px solid var(--foreground);
    border-radius: 50%;
    position: fixed;
    z-index: 5;
    transition: 0ms;
    pointer-events: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

svg {
    fill: black;
    /* stroke: black; */
}

nav svg {
    width: 30px;
    height: 30px;
}

.header {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1187px;
    margin-top: 42px;
}


.port a {
    transform: scale(1);
    transform-origin: flex start;
}

.hide a {
    transform: scale(0);
}

li {
    list-style: none;

}

a {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    font-weight: 600;
    font-size: 19px;
    transition: 500ms;
    transition-timing-function: ease-in-out;
}

a h3 {
    margin-left: 22px;
}

* {
    font-family: "Poppins", sans-serif;
    transition: 100ms;
    padding: 0;
    margin: 0;
}

.menuPath {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 22px;
}

.menu div {
    width: 100%;
    height: 2px;
    background-color: #000000;
    border-radius: 30px;
}

.main_container {
    position: relative;
    clip-path: padding-box;
    width: 100%;
    max-width: 1187px;
    background-color: var(--main);
    box-shadow: var(--shadow);
    padding: 60px;
    margin-top: 5%;
    border-radius: 30px;
    transform-origin: center;
    transform: scale(1);
}

.main_container:hover {
    background-color: #222222;
    color: white;
    transform: scale(1.01);
}

.main_container:hover .skills span {
    background-color: #2D313D;
    color: white;
}

.inside_container {
    display: flex;
    justify-content: space-between;
}

.text_writeup {
    font-weight: 500;
    font-size: 28px;
    width: 80%;
    transform: scale(1);
    transform-origin: center;
}

.removeText {
    transform: scale(0);
    display: none;
}

.writeUp .myName {
    font-weight: bolder;
}

.writeUp {
    width: 60%;

}

.skills {
    margin-top: 25px;
    display: flex;
    transform: scale(1);
    transform-origin: center;
    /* display: block; */
}

.removeSkills {
    transform: scale(0);
    display: none;
}

.skills span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 181px;
    height: 42px;
    background-color: #CCD2E3;
    border-radius: 10px;
    margin-right: 25px;
}

.skills span p {
    font-weight: 600;
    font-size: 15px;
    margin-right: 8px;
}

.skills span svg {
    width: 17px;
    height: 18px;
}

.main_container:hover .wave {
    animation: wave 500ms infinite ease-in-out;
    transform-origin: top 100%, left 50%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1187px;
    margin-top: 5%;
    padding-bottom: 3%;
}

footer p {
    font-weight: 500;
}

footer .links {
    display: flex;
}

footer .links a {
    margin-left: 40px;
}

.nav2 {
    display: none;
}

.newwave {
    position: absolute;
    z-index: 5;
    bottom: -30%;
    right: -5%;
}

.image {
    transform: scale(1);
    transform-origin: center;
}

.removeImg {
    transform: scale(0);
}

.menubox {
    display: none;
}

.removebox {
    display: flex;
    flex-direction: column;
}

.menuTitle h1 {
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 20px;
}

.linkMenu a {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
}

.linkMenu a svg {
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.main_container:hover svg {
    fill: white;
}

@keyframes wave {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0);
    }
}



.main_container:hover .skills span svg {
    fill: white;
}

.main_container:hover .skills span .uidesign {
    fill: none;
    stroke: white;
}

.uidesign {
    stroke: black;
    fill: none;
}

.about a {
    margin-top: 25px;
    font-size: .85em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 181px;
    height: 42px;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    transform-origin: center;
    transform: scale(1);
    transition: 500ms;
}

.about a:hover {
    transform: scale(1.1);
    font-weight: 700;
}

.main_container:hover .about a {
    background-color: white;
    color: #000000;
}

.menu:hover {
    align-items: center;
    justify-content: center;
    transition: 1s;
    position: relative;
}

.menu:hover div:nth-child(1) {
    transform-origin: center;
    transform: rotate(45deg);
    width: 28.28px;
    transition: 1s;
    position: absolute;
    top: 50%;
}

.menu:hover div:nth-child(3) {
    transform-origin: center;
    transform: rotate(-45deg);
    width: 28.28px;
    transition: 1s;
    bottom: 50%;
}

.menu:hover div:nth-child(2) {
    width: 0;
    transition: 1s;
}

.newmenu {
    align-items: center;
    justify-content: center;
    transition: 1s;
    position: relative;
}

.newmenu div {
    height: 3px;
}

.newmenu div:nth-child(1) {
    transform-origin: center;
    transform: rotate(45deg);
    width: 28.28px;
    transition: 1s;
    position: absolute;
    top: 50%;
}

.newmenu div:nth-child(3) {
    transform-origin: center;
    transform: rotate(-45deg);
    width: 28.28px;
    transition: 1s;
    bottom: 50%;
}

.newmenu div:nth-child(2) {
    width: 0;
    transition: 1s;
}

.darkbtnStuff {
    width: 100%;
    max-width: 1187px;
    display: flex;
    justify-content: right;
    margin-top: 5%;
    align-items: center;
}

.listen {
    /* width: 50px; */
    height: 50px;
    color: var(--main);
    background-color: var(--foreground);
    box-shadow: var(--shadow);
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listen a {
    font-weight: 500;
    font-size: 12px;
}

.listen a svg {
    margin-left: 10px;
}

.listen h5 {
    margin-left: 20px;
}

.darkbtn {
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2D313D;
    box-shadow: var(--shadow);
    border-radius: 50px;
    margin-left: 50px;
}

.lightbtn {
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: var(--shadow);
    border-radius: 50px;
    margin-left: 50px;
    /* padding: 30px; */
}

@media (orientation: portrait) {
    .cursor {
        display: none;
    }
}

@media (max-width:1187px) {
    .darkbtnStuff {
        max-width: 700px;
        justify-content: left;
    }

    /* .listen {
        width: 50px;
        height: 25px;
    } */

    nav {
        max-width: 700px;
    }

    .main_container {
        max-width: 700px;
        margin-top: 10%;
    }

    .inside_container {
        flex-direction: column-reverse;
    }

    .inside_container .writeUp {
        width: 100%;
    }

    footer {
        max-width: 700px;
        position: relative;
    }


}

@media (max-width:700px) {
    .darkbtnStuff {
        max-width: 400px;
        flex-direction: column-reverse;
        align-items: normal;
    }

    .darkbtn {
        margin-left: 0px;
    }

    .lightbtn {
        margin-left: 0px;
        /* padding: 30px; */
    }

    .listen {
        width: max-content;
        margin-top: 5%;
    }

    .removeImg {
        width: 0;
        height: 0;
    }

    nav {
        display: none;
        background-color: #CCD2E3;
    }

    .nav2 {
        display: block;
        width: 100%;
        max-width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 6%;
    }

    .nav2 .inside_nav2 {
        display: flex;
        align-items: center;
    }

    .nav2 svg {
        width: 60px;
        height: 60px;
    }

    .nav2 .menu {
        width: 30px;
        height: 30px;
    }

    .nav2 .menu div {
        height: 3px;
    }

    .main_container {
        max-width: 400px;
        margin-top: 5%;
        padding-right: 19px;
        padding-left: 19px;
    }

    .main_container .writeUp {
        width: 100%;
        font-size: .9em;
    }

    .main_container .image {
        margin-bottom: 32px;
    }

    .main_container .image img {
        width: 100px;
        height: 100px;
    }

    .main_container .wave {
        width: 50px;
        height: 50px;

    }

    .main_container .skills {
        flex-wrap: wrap;
    }

    .main_container .skills span {
        margin: 5px;
        margin-right: 0;
        margin-left: 0;
        width: 170px;
        height: 42px;
    }

    .main_container .skills span:nth-child(1) {
        margin-right: 5px;
    }

    .main_container .skills span p {
        font-size: 15px;
        font-weight: 500;
    }

    footer .links {
        margin-bottom: 5%;
    }

    footer .links a {
        margin-left: 0px;
        margin-right: 40px;
    }

    footer {
        max-width: 400px;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 10%;
        position: relative;
    }

    footer .copyright {
        width: 100%;

    }


}


@media (max-width:400px) {
    .darkbtnStuff {
        max-width: 700px;
        padding-left: 5%;
    }


    .nav2 {
        /* max-width: 310px; */
        padding-left: 3%;
        padding-right: 3%;
    }

    .main_container {
        box-shadow: none;
        border-radius: 0px;
        background: none;
    }

    footer {
        padding-left: 3%;
        padding-right: 3%;
    }

    .main_container .skills span {
        width: 100%;
    }
}


@media (prefers-color-scheme: dark) {
    svg {
        fill: white;
        /* stroke: white; */
    }

    .menu div {
        background-color: #ffffff;
    }

    .skills span {
        background-color: #2D313D;
    }

    .uidesign {
        stroke: white;
        fill: none;
    }

    .about a {
        background-color: #ffffff;
        color: #000000;
    }

    .main_container:hover {
        background-color: rgb(224, 224, 224);
        color: #000000;
    }

    .main_container:hover .skills span {
        background-color: #9099b3;
        color: black;
    }

    .main_container:hover svg {
        fill: #000000;
    }

    .main_container:hover .skills span svg {
        fill: black;
    }

    .main_container:hover .skills span .uidesign {
        fill: none;
        stroke: black;
    }

    .main_container:hover .about a {
        background-color: #000000;
        color: #ffffff;
    }




}