@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

svg {
    fill: black;
    /* stroke: black; */
}

nav svg {
    width: 30px;
    height: 30px;
}

.header {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1187px;
    margin-top: 42px;
}

li {
    list-style: none;

}

a {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    font-weight: 600;
    font-size: 19px;
}

a h3 {
    margin-left: 22px;
}

* {
    font-family: "Poppins", sans-serif;
    transition: .1s;
}

.menuPath {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 22px;
}

.menu div {
    width: 100%;
    height: 2px;
    background-color: #000000;
    border-radius: 30px;
}

.main_container {
    width: 100%;
    max-width: 1187px;
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(151, 151, 151, 0.329);
    padding: 87px;
    margin-top: 5%;
    border-radius: 30px;
    transform-origin: center;
    transform: scale(1);
}

.main_container:hover {
    background-color: #222222;
    color: white;
    transform: scale(1.01);
}

.main_container:hover .skills span {
    background-color: #2D313D;
    color: white;
}

.inside_container {
    display: flex;
    justify-content: space-between;
}

.text_writeup {
    font-weight: 500;
    font-size: 28px;
    width: 80%;

}

.writeUp .myName {
    font-weight: bolder;
}

.writeUp {
    width: 60%;

}

.skills {
    margin-top: 25px;
    display: flex;
}

.skills span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 181px;
    height: 42px;
    background-color: #CCD2E3;
    border-radius: 10px;
    margin-right: 25px;
}

.skills span p {
    font-weight: 600;
    font-size: 15px;
    margin-right: 8px;
}

.skills span svg {
    width: 17px;
    height: 18px;
}

.main_container:hover .wave {
    animation: wave 500ms infinite ease-in-out;
    transform-origin: top 100%, left 50%;
}

@keyframes wave {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0);
    }
}

.main_container:hover .skills span svg {
    fill: white;
}

.main_container:hover .skills span .uidesign {
    fill: none;
    stroke: white;
}

.uidesign {
    stroke: black;
    fill: none;
}

.about a {
    margin-top: 25px;
    font-size: .85em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 181px;
    height: 42px;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    transform-origin: center;
    transform: scale(1);
    transition: 500ms;
}

.about a:hover {
    transform: scale(1.1);
    font-weight: 700;
}

.main_container:hover .about a {
    background-color: white;
    color: #000000;
}

@media (prefers-color-scheme: dark) {
    svg {
        fill: white;
        /* stroke: white; */
    }

    .menu div {
        background-color: #ffffff;
    }

    .main_container {
        background-color: #222222;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.329);
    }

    .skills span {
        background-color: #2D313D;
    }

    .uidesign {
        stroke: white;
        fill: none;
    }

    .about a {
        background-color: #ffffff;
        color: #000000;
    }

    .main_container:hover {
        background-color: rgb(216, 216, 216);
        color: #000000;
    }

    .main_container:hover .skills span {
        background-color: #CCD2E3;
        color: black;
    }

    .main_container:hover .skills span svg {
        fill: black;
    }

    .main_container:hover .skills span .uidesign {
        fill: none;
        stroke: black;
    }

    .main_container:hover .about a {
        background-color: #000000;
        color: #ffffff;
    }

}